[2021-11-30 17:38] monde commented on #526
Thanks for reporting this issue @HomelessFreak . We are tracking this internally [OKTA-442387](https://oktainc.atlassian.net/browse/OKTA-442387)

[2021-12-02 17:50] laura-rodriguez commented on #526
Hi @HomelessFreak,

Would you mind sharing your OS version and how you're instantiating the OktaClient? Thank you!

[2021-12-03 07:57] nivanov-stitan opened #527 "Authentication schemes supporting in extension methods"
Hello.
I am using this SDK to add MVC and WebApi authentication via Okta but extension methods (AddOktaMvc and AddOktaWebApi) from this SDK does not provide possibility to pass authentication schemes like standard microsoft extension methods (AddOpenIdConnect, AddJwtBearer). It is very useful to have this opportunity when you want to use multiple authentication schemes from multiple OKTA authoriza

[2021-12-03 09:43] andriizhegurov-okta commented on #527
Hi @nivanov-stitan, thanks for the suggestion. We'll investigate if it's possible to provide this option and update you here.

[2021-12-06 11:32] HomelessFreak commented on #526
Sounds like its on: Amazon Linux 2 LTS AMI

[2021-12-28 18:16] 93ramadan commented on #515
Hello
I am using .net core 3.1 and facing this issue - what’s the recommended fix please ?
Much appreciate

[2021-12-28 18:20] 93ramadan commented on #526
Hello
I’m using .net core 3.1 and facing the same issue when deploying to aws serverless lambda - was this pull request accepted ?
Thanks

[2022-01-06 11:41] gao-artur opened #529 "Scopes sent 3 times when using AuthorizationMode.PrivateKey"
Hey, I'm using `Okta.Sdk v5.3.1`.
Here is my config
[code]

And that's what I see in okta logs: scopes repeated 3 times
![image](https://user-images.githubusercontent.com/4518483/148386576-10e9b673-11e5-4d30-9c29-e44749982157.png)

[2022-01-06 15:20] bryanapellanes-okta commented on #529
@gao-artur
Thanks for reaching out!  To help us understand the issue better, please provide more information about your project and what steps to take to reproduce the issue you see.  If possible please provide a sample project (a link to a repo is preferred if possible).  We'll be happy to help however we can.  Thanks again!

[2022-01-06 15:53] gao-artur commented on #529
Sure, I'll prepare simple repro.
I'm replacing api token with OAuth for Okta using [this tutorial](https://developer.okta.com/docs/guides/implement-oauth-for-okta-serviceapp/main/). The bug is not harmful and not causing any problems, I just saw sdk sends all requested scoped 3 time and it looks to me like a bug.

[2022-01-06 21:06] gao-artur commented on #529
@bryanapellanes-okta you can find the reproduce [here](https://github.com/gao-artur/okta-sdk-529/tree/master).
Just run and check Fiddler
![image](https://user-images.githubusercontent.com/4518483/148451985-7e9286dc-2e71-476d-80b8-4e3f790e144d.png)

[2022-01-12 13:33] #526 closed

[2022-01-17 11:30] andriizhegurov-okta commented on #515
This should be fixed in Okta.Sdk v5.3.2

[2022-01-20 15:03] nivanov-stitan opened #532 "To add possibility assign user groups on importing users"
We are using Okta API for migration our users. We use this method
https://github.com/okta/okta-sdk-dotnet/blob/561edb4778e97cf8aabc6bfd6f380150e581b26b/src/Okta.Sdk/IUsersClient.cs#L32
We found that there are no way to assign the group for created users. Is it possible to import users and assign them to usergroups in single API call?

[2022-01-20 19:43] laura-rodriguez commented on #532
Hi @nivanov-stitan,

Thanks for your issue. This seems related to an [old issue](https://github.com/okta/okta-sdk-dotnet/issues/441). Can you please review it and let me know if it helps?

[2022-01-21 11:50] nivanov-stitan opened #533 "If username contains special symbols GetUser() method fails"
When I pass username with special symbols, for instance `#abcd`, `ab/cd`, ...
`await oktaClient.Users.GetUserAsync()` is throw an exception.

[2022-01-21 12:38] andriizhegurov-okta commented on #533
Hi @nivanov-stitan, what exception do you see exactly?
Do you mean the `Username` profile field or is it another field with a similar name? The `Username` field should not accept special symbols, it only allows data in email format.

[2022-01-21 12:44] nivanov-stitan commented on #533
Hi @andriizhegurov-okta

Yes, I mean Username which uses to login.

It's incorrect. It depends on User Profile settings in Okta org. We changed there that username can have non email format. And I can be able to create there users with special symbols.
It seems special symbols should be encoded before send HTTP request.

[2022-01-21 12:49] andriizhegurov-okta commented on #533
@nivanov-stitan thanks for the clarification, I'll add an item to our backlog to investigate the issue.

[2022-01-23 12:28] oyemini-fortifieddata opened #534 "Lack of documentation for Event Hooks"
Hello, I tried to find some info on registering Event Hooks through the .Net SDK, I've only found this code example on the integration tests:
[code]

Can u please explain and verify some of my question?

1. Config.Uri => is this the URI that will be called when a new event is triggered
2. Config.Headers.Key => what should I pass in here?
3. Config.Headers.Value => what should I pass in here?
4. Au

[2022-01-24 10:03] andriizhegurov-okta commented on #534
Hi @oyemini-fortifieddata, please take a look at the [Event Hooks Management API documentation](https://developer.okta.com/docs/reference/api/event-hooks/#create-event-hook).

From the doc:

Config.Uri => External service endpoint to call to execute the event hook handler
Config.Headers => Optional list of key/value pairs for headers that should be sent with the request to the external service
Aut

[2022-01-25 06:35] #534 closed

[2022-01-26 08:38] gao-artur opened #535 "Api call not retried on token expiration (PrivateKey mode)"
This is the same issue like [Intermittent 401s from Okta SDK with Private Key AuthMode (Token Expired)](https://github.com/okta/okta-sdk-dotnet/issues/505).
The difference is 401 are not intermittent, they happen once in a hour that aligns with token lifetime. Looking into logs it seems the sdk refreshes the token after receiving 401 but not retries the api call. Here are trace logs with timestamp

[2022-01-26 11:57] andriizhegurov-okta commented on #535
Hi @gao-artur, I apologize for the inconvenience, we already have a ticket in our backlog to address this issue.

Just to clarify, can you confirm that you are requesting a new token with your custom implementation of the `IOAuthTokenProvider` interface as it's said in the [Okta .NET management SDK Readme](https://github.com/okta/okta-sdk-dotnet#oauth-20#:~:text=In%20addition%20to%20passing%20the%

[2022-01-26 12:51] gao-artur commented on #535
Hey @andriizhegurov-okta, no, I'm using default implementation. I actually see that there is a [retry ](https://github.com/okta/okta-sdk-dotnet/blob/v5.3.1/src/Okta.Sdk/Internal/DefaultRequestExecutor.cs#L135-L148)for 401 when working in PrivateKey mode. I tried to debug the code, the new access token generated and applied on `Authorization` header, but okta returns 401 also on retry.

[2022-01-27 08:14] gao-artur commented on #535
Hey @andriizhegurov-okta, I found the bug.
[code]

The retry code applies new token on `_httpClient.DefaultRequestHeaders.Authorization` header. Then `HttpRequestMessageHelper.CloneHttpRequestMessageAsync` copies headers from old request object

[code]
One of them is `Authorization` header with old expired bearer token. This header overrides `_httpClient.DefaultRequestHeaders.Authorization`. Exclu

[2022-01-27 08:51] andriizhegurov-okta commented on #535
Hi @gao-artur, thanks for the investigation.
As I said we have a ticket to fix this issue. I've raised the priority of the ticket and we'll have that fixed as soon as possible.

BTW, have you already tried this solution?

[2022-01-27 08:57] gao-artur commented on #535
Yes, it worked

[2022-01-30 12:57] oyemini-fortifieddata opened #536 "ListUsers method is really slow (4-6 seconds)"
## Current behavior
The ListUsers method takes a lot of time (4-6 seconds), I'm caching it after the first time but still, am I doing something wrong here?
I would like to fetch a a list by the users emails, I also tried to remove the **Where** condition and had no effect.

`IUser[] oktaUsers = await _oktaClient.Users.ListUsers().Where(u=>missingFromCacheList.Contains(u.Profile.Email)).ToArrayAsyn

[2022-01-31 10:21] andriizhegurov-okta commented on #536
Hi @oyemini-fortifieddata, your code seems correct.
Could you check if this is a network/server issue by using Fiddler while running the code?
Also did you try to run the ListUsers request directly from Postman as it's said in [User API](https://developer.okta.com/docs/reference/api/users/#list-users)?

[2022-01-31 12:56] oyemini-fortifieddata commented on #536
Found the issue on Fiddler, it seems that for 1 request on my code there are multiple requests to Okta API. there is a query string named **limit=10**, that is the default paging. I thought I'll change it to the number of items in my missingFromCacheList list in order to work correctly like so:

`IUser[] oktaUsers = await _oktaClient.Users.ListUsers(limit: missingFromCacheList.Count).Where(u=> mis

[2022-02-01 13:45] laura-rodriguez commented on #536
Hi @oyemini-fortifieddata,
You should use the [parameters](https://developer.okta.com/docs/reference/api/users/#request-parameters-3) provided by the API to optimize your query. Please take a look at the List Users documentation [here](https://developer.okta.com/docs/reference/api/users/#list-users).
Let us know if this helps.

[2022-02-02 08:17] oyemini-fortifieddata commented on #536
Thanks Laura, but I haven't found any option to send a list for users to the search.
the search option only allows me to search like so:

"https://${yourOktaDomain}/api/v1/users?q=eric&limit=1"

what if I want or example to also add Joe to the search?

[2022-02-04 12:11] nivanov-stitan commented on #533
oktaClient.Users.GetUserAsync(".") returns error
Cannot deserialize the current JSON array (e.g. [1,2,3]) into type 'System.Collections.Generic.IDictionary`2[System.String,System.Object]' because the type requires a JSON object (e.g. {"name":"value"}) to deserialize correctly.
[code]

[2022-02-04 12:13] nivanov-stitan commented on #533
oktaClient.Users.GetUserAsync("ab/cd") returns error
`The endpoint does not support the provided HTTP method (405, E0000022)`

[2022-02-04 18:45] emanor-okta opened #538 "ListApplicationUsers Method Signature does not Match backing API Signature"
## Current behavior

The [ListApplicationUsers](https://developer.okta.com/okta-sdk-dotnet/latest/api/Okta.Sdk.IApplicationsClient.html#Okta_Sdk_IApplicationsClient_ListApplicationUsers_System_String_System_String_System_String_System_String_System_Nullable_System_Int32__System_String_System_String_) current method signature allows parameters that the backend API call [/api/v1/apps/${applicationId

[2022-02-07 07:48] nivanov-stitan commented on #533
oktaClient.Users.GetUserAsync("lkj;lj") returns error
`Not found: Resource not found: lkj (User) (404, E0000007)`
By some reason it searches **lkj** instead of **lkj;lj**

[2022-02-08 09:59] nivanov-stitan commented on #533
oktaClient.Users.GetUserAsync("Aph\DuncanC") returns error
`An error occurred deserializing the error body for response code 400. See the inner exception for details.`
The problem in backslash characters "\"

[2022-02-08 10:01] nivanov-stitan commented on #533
Could you give some ETA for this critical bugs?
Thanks.

[2022-02-08 10:59] andriizhegurov-okta commented on #533
@nivanov-stitan Thank you for your investigation and I apology for the delay.
Unfortunately I can't provide an exact ETA for the bug, but I've prioritized it and moved it to the next sprint, so it should be taken into work soon.

[2022-02-08 12:37] nivanov-stitan commented on #533
@andriizhegurov-okta Thank you.
We are using this Okta SDK in our application and the issues above doesn't allow us to manage users that contains such characters in username.

[2022-02-10 06:30] gao-artur commented on #535
@andriizhegurov-okta any ETA fixing this bug? It blocks us from replacing api token with private key.

[2022-02-10 10:58] andriizhegurov-okta commented on #535
@gao-artur We plan to release the fix in the next version of the Okta.Sdk.
Unfortunately I can't provide an exact ETA, but most likely this new version will be released next week.

[2022-02-15 15:46] laura-rodriguez commented on #532
Closing due to inactivity.

[2022-02-15 15:46] #532 closed

[2022-02-15 15:46] laura-rodriguez commented on #474
Closing due to inactivity.

[2022-02-15 16:29] laura-rodriguez commented on #536
Hi @oyemini-fortifieddata ,

Thanks for your patience. Based on the [Users APi doc](https://developer.okta.com/docs/reference/core-okta-api/#filter) I believe you can do something like this: `filter=(firstName Eq "john" or firstName Eq "Joe" ...)`.

Let me know if this helps.

[2022-02-15 20:13] gao-artur commented on #535
Thank you! Will verify next week.

[2022-02-18 15:10] andriizhegurov-okta commented on #533
@nivanov-stitan the issue is not specific to .Net SDK. It's reproducible from Postman using [Users API](https://developer.okta.com/docs/reference/api/users/) Postman collection.
[Get User with login](https://developer.okta.com/docs/reference/api/users/#get-user-with-login) API doesn't seem to work with some special characters.

According to the [doc](https://developer.okta.com/docs/reference/api/u

[2022-02-19 18:45] nivanov-stitan commented on #533
@andriizhegurov-okta
Hi.
We have some cases when we have not user id and need to check by username. For instance, in the initial migration we are checking that user with particular name exists or not exists in Okta org and do some logic. In that case we have no user id.

[2022-02-19 18:56] nivanov-stitan commented on #532
@laura-rodriguez
Hi.
Sorry for later reply.
We are using CreateUserWithImportedHashedPasswordOptions for create user because we have only hashed password at this moment. And there are we have no properties to setup user groups.

[2022-02-22 21:19] andriizhegurov-okta commented on #533
@nivanov-stitan We're investigating the issue internally.

Meanwhile you can try another workaround.
To get user by login you can use `ListUsers` function with search parameter like so:

[code]

This works for semicolons (but not for slashes).

[2022-02-27 10:24] gao-artur commented on #535
@andriizhegurov-okta it seems to work now. You can close the issue, thanks!

[2022-03-03 17:09] #535 closed

[2022-03-03 19:06] danverde commented on #536
I've been trying to speed up my list users call for a while now. After running across this issue I ran some benchmarks against the following code with various page sizes:
[code]
[code]
It seems counter-intuitive to me that increasing the page size improves performance and the best performance was achieved when no pagination was required (I imagine you can get a large enough payload where this woul

[2022-03-06 08:15] oyemini-fortifieddata commented on #536
Thanks for all your responses, u can close this issue from my side.

[2022-03-09 17:51] laura-rodriguez commented on #533
Hi @nivanov-stitan,

I want to provide an update on this issue.
We reported this issue to the internal team responsible for the users' API, and they will look into it soon. I'll provide more updates when I have more to share. Thanks for your patience!

[2022-03-16 14:11] joserpkkr commented on #533
Hi, just wanted to note that I'm having this same issue when some users that have the '#' symbol on their email, so it would be nice to have a solution/workaround for this scenarios

[2022-04-28 14:09] #536 closed

[2022-04-29 14:02] PrakashKumar-27 opened #544 "Newtonsoft.Json.JsonReaderException : Unexpected character encountered while parsing value: <. Path '', line 0, position 0."
### Describe the bug?

I am using the below code, i am using the private key to communicate.
          services.AddSingleton<IOktaClient>(new OktaClient(new OktaClientConfiguration
            {
                OktaDomain = Configuration.GetValue<string>("Okta:Domain"),
                AuthorizationMode = AuthorizationMode.PrivateKey,
                ClientId = Configuration.GetValue<string>("Okta

[2022-05-02 14:25] bryanapellanes-okta commented on #544
@PrakashKumar-27 Thanks for reaching out!  To further help us reproduce the issue to determine how to fix, may I have you provide a sample project and specific steps to reproduce?  I'm investigating further, a project with detailed steps to reproduce will be extremely helpful.

[2022-05-03 16:31] bryanapellanes-okta commented on #544
@PrakashKumar-27 I've not been able to reproduce the issue as you've described; I suspect the exception is coming from the constructor of the JsonWebKeyConfiguration object.  Internally it expects json that is used to populate its properties, the error implies that the supplied value cannot be parsed.

I suggest reaching out to our support team at developers@okta.com - they will be able to work wi

[2022-05-09 04:28] aslamdeshmukh opened #547 "Dot Net SDK for Okta does not Support Filter Operator"
### Describe the bug?

Dot Net SDK for Okta does not Support Filter In latest sdk 5.4.1.
There are two filter available in this sdk 1. Search 2. Filter in old sdk both are available. But in  5.4.1 Filter is not available.
We are developing delta reconciliation from okta which will give us Group List whose Membership updated after last Reconciliation. If we are using search we are not getting expec

[2022-05-10 03:02] PrakashKumar-27 commented on #544
Hi @bryanapellanes-okta,

Thanks for responding, actually this is working fine with net5.0, but throwing error in .net core 3.1 version.

Thanks,
PK

[2022-05-10 03:04] PrakashKumar-27 commented on #544
Hi @bryanapellanes-okta,

In JsonWebKeyConfiguration while initializing no error is throwing in startup.cs but while calling the Okta Client it's throwing error.

Thanks in Advance,
Prakash Kumar

[2022-05-12 16:35] laura-rodriguez commented on #547
Hi @aslamdeshmukh,

Thanks for bringing this up to our attention. We need to investigate why this param has been removed and fix the open API spec if applicable.

In the meantime, you can still use the client and create a request with all the params you want. Take a look at the "Call other endpoints" [section](https://github.com/okta/okta-sdk-dotnet#call-other-api-endpoints). I hope this helps.

[2022-05-12 16:43] laura-rodriguez commented on #547
Internal Ref :OKTA-498007

[2022-05-17 16:27] oyemini-fortifieddata opened #549 "Resend a verification email for active users"
### Describe the feature request?

The way we are creating users is as follows:
1. creating the user in with activate false flag (so we can send him activation email on the next step)
2. calling activate user with sendemail= true to send the activation email to the user

Our product has come up with a feature request to allow the onboarding user to ask for an email resend.
can I achieve this someh

[2022-05-19 16:38] philip-young opened #550 "Deserializing received events from Event Webhook"
### Describe the bug?

In the [Webhook documentation](https://developer.okta.com/docs/concepts/event-hooks/#requests-sent-by-okta) it says Events are sent of type LogEvent. They are, however they are sent as a collection of LogEvent within a `com.okta.event_hook` event - which I am able to parse out using a simple model I created. However, I was just wondering if there is any built in way to deser

[2022-05-19 16:48] bryanapellanes-okta commented on #550
@philip-young
Thanks for reaching out!  Please review the integration tests found here: https://github.com/okta/okta-sdk-dotnet/blob/master/src/Okta.Sdk.IntegrationTests/LogsScenarios.cs#L63.  Those tests should provide some examples of retrieving log events that are deserialized into the LogEvent objects provided.  Feel free to follow up if this is not sufficient for your needs.

[2022-05-19 18:05] philip-young commented on #550
hi @bryanapellanes-okta Thanks for the quick response! I have taken a look at the class you linked. For my scenario, the json is passed into my Webhook, not pulled via the Okta client (but I do have access to it). Is there a way you recommend to use the parsing of that class with json I already have? I am just looking through the code now.

[2022-05-20 15:36] bryanapellanes-okta commented on #550
@philip-young After a little investigation, I've found that the model objects defined in the Sdk are designed to be used specifically with the Okta client.  The LogEvent object was unfortunately not designed with your intended usage in mind.  We hope to address this shortcoming in a future release of the Sdk, however it is unclear when this work will be complete.

[2022-05-20 19:47] philip-young commented on #550
@bryanapellanes-okta  Yes, I found that there was that dependency and after reviewing the source code I managed to figure out how to do what I needed to do with a mixture of the DefaultSerializer and the ResourceFactory class (see the sample below). I am instantiating the ResourceFactory with a null for both the OktaClient and the ILogger.. can you think of any negative implications of doing this?

[2022-06-06 12:56] gilmatok opened #553 "Group listing expand support"
### Describe the feature request?

The groups listing API (`/api/v1/groups`) supports the `expand` query param to return additional metadata about the group ([source](https://developer.okta.com/docs/reference/api/groups/#request-parameters-3)).

I need to be able to query the groups' user count.

The current implementation of `IGroupsClient.ListGroups` returns an `IClientCollection<IGroup>` which

[2022-06-06 13:59] gilmatok commented on #553
OK, so turns out the user count is buried deep down inside the `_embedded` dictionary. Isn't there a nicer way to get it?

[2022-06-10 12:53] bryanapellanes-okta commented on #550
@philip-young Sorry for the delayed response.  I'm glad you were able to come up with a solution; I don't see any issues with what you're doing in this code.  Just keep in mind if issues arise it will likely be in the internals of the ResourceFactory.

[2022-06-10 12:53] #550 closed

[2022-06-30 20:44] philip-young opened #561 "Call Introspect API with Okta SDK Client returning Bad Request"
### Describe the bug?

I am trying to call the /v1/introspect API on the Okta Org Server to validate an access token. I wasn't able to find a method in the SDK to do this so I followed the documentation in the [readme](https://github.com/okta/okta-sdk-dotnet#call-other-api-endpoints) to call other API Endpoints. The /introspect endpoint is a POST call, same as the example given in the readme, but

[2022-06-30 21:34] bryanapellanes-okta commented on #561
@philip-young Thanks for reaching out!  I believe the use of different client Ids is possibly the cause, try using the same client Id for authentication and validation to see if you get different results.  If you see no change please provide a full sample that reproduces the issue and we can diagnose from there.

[2022-07-05 15:53] mohitlwcc opened #562 "Error - Could not load file or assembly 'Okta.Sdk, Version=5.6.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)"
### Describe the bug?

Hi,

I am trying to use OKTA SDK with my ASP.NET C# MVC project. When I try to call api to create user it gives be below error:

"Could not load file or assembly 'Okta.Sdk, Version=5.6.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)"

My project has .snk file so does it has any

[2022-07-05 20:20] bryanapellanes-okta commented on #562
@mohitlwcc Thanks for reaching out!  Yes, because your project has an .snk file it requires all referenced assemblies to also be strong named.  I believe, for simplicity, the Okta Sdk assemblies are not strong named which is the cause of the issue you are seeing.  If it's an option, I'd suggest for you not to sign your assembly in order to reference the Okta.Sdk; however, if this is not an option,

[2022-07-05 21:51] mohitlwcc commented on #562
Thanks, Bryan, for getting back to me. I think we are not going to opt out of strongly named assembly so can you guide me on how to create a custom build okta.sdk?

Regards,

***@***.***
Mohit Patel
.Net Developer
[O] 1 (225) 231-0751<tel:1%20(225)%20231-0751>

From: Bryan Apellanes ***@***.***>
Sent: Tuesday, July 5, 2022 3:20 PM
To: okta/okta-sdk-dotnet ***@***.***>
Cc: Patel, Mohit ***@***.***>

[2022-07-06 13:11] bryanapellanes-okta commented on #562
To create a custom build do the following:

- create a key file using sn.exe:
  - start Command Prompt for VS 2022
  - type the command `sn -k okta-sdk.snk`
- clone the repo locally: `git clone https://github.com/okta/okta-sdk-dotnet.git`
- start Visual Studio 2022 and open the solution file: `./src/Okta.Sdk.sln`
- right click the `Okta.Sdk` project and select "properties"
- in the properties wind

[2022-07-06 15:42] mohitlwcc commented on #562
@bryanapellanes-okta Thank you for the guidance. Just want to make sure one thing that if I do custom build sdk and in future if Okta updated something does it going to break anything on my side? Or If any change on okta side takes place does my custom build okta sdk will break?

[2022-07-07 16:03] mohitlwcc commented on #562
Hi @bryanapellanes-okta ,

After referring to custom build sdk dll, I am getting below error when I call:

client.Users.GetUserAsync("abc@gmail.com");

CS7069: Reference to type 'IAsyncEnumerable<>' claims it is defined in 'netstandard', but it could not be found

Any Idea?

[2022-07-13 14:52] mohitlwcc opened #563 "How to check for User account existance?"
### Describe the bug?

This not bug but was not sure where to seek for help so just opening ticket here.

I am calling "client.Users.GetUserAsync(UserEmail)" API to get user detail. I would like to know how to check if user found or not. Let me know if we can check if user exist using this API or is there any other API available for that.

Thank you!

### What is expected to happen?

Get user deta

[2022-07-15 15:00] mohitlwcc commented on #562
Just going with unsigned assembly approach.

[2022-07-15 15:00] #562 closed

[2022-07-21 07:07] GnanaPriyaNamasivayam opened #565 "[iOS] Invalid address error in safari while opening browser with OKTA redirect URI"
### Describe the bug?

We are using Okta to login into our xamarin forms mobile application. To authenticate the user, our app uses Xamarin.openId.appauth.ios(0.92.0) and xamarin.openId.appauth.android package and log in the user. Now, the issue is only in iOS with redirect URI in the safari browser.

PFB information about the logout implementation. In the below method, Browser.openAsync method is

[2022-07-21 19:19] laura-rodriguez commented on #563
Hi @mohitlwcc,

You can find users by using the `q` param as described here: https://developer.okta.com/docs/reference/api/users/#find-users
The SDK's `ListUsers` method exposes all the query params you see in the docs.

I hope this helps.

[2022-07-21 19:26] laura-rodriguez commented on #565
Hi @GnanaPriyaNamasivayam,

Are you using any specific Okta SDK in your Xamarin app?

[2022-07-21 19:52] GnanaPriyaNamasivayam commented on #565
Below are the references I use,
![image](https://user-images.githubusercontent.com/44390143/180303431-b4037723-d444-41ff-91ca-28e8efa4464e.png)

[2022-07-21 20:21] laura-rodriguez commented on #565
So, it seems you're not using any Okta SDK. I suggest you reach out to developers@okta.com so they can assist you better.

Thanks!

[2022-07-25 23:08] pmatpadi opened #570 "Okta.Sdk.IIdentityProvider object does not have access to SAML2 Metadata and AssertionConsumerService object"
### Describe the bug?

Referring to https://developer.okta.com/docs/reference/api/idps/#add-saml-2-0-identity-provider, on successful SAML2 IDP creation, the response contains _links->metadata and _links->acs, which we need to return to the client. I do not see a documented way to retrieve these from Okta.Sdk.IIdentityProvider object using okta dotnet sdk. How can I get access to  _links->metadata

[2022-07-26 14:02] laura-rodriguez commented on #570
Hi @pmatpadi,

Thank you for your inquiry.

All the models in the SDK extend from [Resource](https://github.com/okta/okta-sdk-dotnet/blob/master/src/Okta.Sdk/Resource.cs) which is basically a wrapper for the raw data and allows you to get any property from the model, even those that are not exposed.
To access the `_links` property or any children you can try the following:

[code]
For other exampl

[2022-07-26 15:13] laura-rodriguez commented on #570
Internal Ref: OKTA-518033

[2022-07-26 15:14] #565 closed

[2022-07-26 15:16] laura-rodriguez commented on #561
Closing due to inactivity. Please feel free to reopen if this is still an issue.

[2022-07-26 15:16] #561 closed

[2022-07-26 15:18] laura-rodriguez commented on #549
Closing due to inactivity. Please, feel free to reopen if this is still an issue.

[2022-07-26 15:18] #549 closed

[2022-07-26 15:20] laura-rodriguez commented on #524
Per design, the MyAccount API won't be part of the management SDK.

[2022-07-26 15:20] #524 closed

[2022-07-26 18:01] burkenyo commented on #524
Hi @laura-rodriguez thanks for the update. I understand the reasoning behind not putting this functionality into the "management" SDK, which suggests use in an admin-style setting. Is there an alternative Nuget Package or C# repo one can use for the MyAccount API?

[2022-07-26 18:31] laura-rodriguez commented on #524
Hi @burkenyo,

We don't provide a Nuget package at the moment.

Would you mind sharing your use case? What type of application do you have?

[2022-07-27 07:13] pmatpadi commented on #570
Thank you! This helped resolve the issue I raised. However, I am having trouble with unit testing my code retrieving the idp response fields using the indexer pattern with "Moq" Version="4.18.1".

[code]

Following code in the assertion returns null value

[code]

I also tried below, but Moq does not allow this-

[code]

throws

[code]

Any helpful tips on how to write a successful unit test?

[2022-07-27 13:26] bryanapellanes-okta commented on #570
@pmatpadi I have some familiarity with Moq and I believe you should get the results you're looking for if you use "Setup" instead of "SetupGet" like this:
[code]
This should tell Moq that you're mocking a method call instead of a property accessor.

[2022-07-27 17:16] pmatpadi commented on #570
Thanks so much @bryanapellanes-okta . That solved the unit test issue 😄

[2022-07-29 19:18] #570 closed

[2022-08-04 16:16] #563 closed

[2022-08-27 15:33] rafael-herscovici-cko opened #580 "Allow for creation of routing rules"
### Describe the feature request?

As a developer,
When i create an IDP using the SDK, I would like to also be able to create the routing rules specific to the IDP
So that
I wont need to use the Okta UI to create routing rules

Notes:
Im not aware of any way that you could create Routing rules using the SDK.
I tried reading both Okta documentation and searching the forums, But didnt find anything

[2022-08-31 09:03] #580 closed

[2022-09-05 18:44] danverde opened #581 "IOktaClient.GetCollection<T> should return an ICollectionClient<T>"
### Describe the feature request?

Both overloads of the `GetCollection<T>` method on the `IOktaClient` interface return a concrete `CollectionClient<T>` rather than an `ICollectionClient<T>`. This makes testing a method that contains a call to `GetCollection<T>` difficult since Moq cannot mock a concrete class. The sdk should return the interface to improve testability of these methods.

### New

[2022-09-06 12:40] bryanapellanes-okta commented on #581
@danverde Thanks for reaching out!  You make a good point, I've entered an internal issue for tracking; we'll need to prioritize this against other work.  If you're so inclined, please feel free to submit a pull request with your suggested changes and we can get the ball rolling sooner than later.

Internal Ref: OKTA-530112

Thanks for using Okta!

[2022-09-06 14:05] danverde commented on #581
@bryanapellanes-okta Thanks for the quick response. PR has been created & linked to this issue

[2022-09-09 02:17] fabiansanchez18 opened #585 "Can't use okta.sdk together with okta.aspnetcore on a .net 6 aspnetcore project"
### Describe the bug?

I am trying to deploy Blazor Webassembly hosted on a asp.netcore server. I managed to implement the oidc authentication between the blazor client and the asp.net core server. The API authenticates correctly and redirect to login when not and so on. But when I install okta.sdk, the server starts to respond 401 responses.
I have okta.sdk and okta.auth.sdk on another azure func

[2022-09-09 12:25] bryanapellanes-okta commented on #585
@fabiansanchez18 Thanks for reaching out and bringing this to our attention!  I've added an internal issue for tracking; this will need to be prioritized against other work.

Internal Ref: OKTA-31294

[2022-09-12 13:38] laura-rodriguez commented on #585
Hi @fabiansanchez18,

Can you please share a Fiddler log/HAR of the whole scenario that's failing? Is the authorization header properly set with the corresponding token when you hit the protected endpoint?

[2022-09-13 20:47] fabiansanchez18 commented on #585
No problem. Where should I put it. I mean, How can I share it with you?

[2022-09-13 20:52] fabiansanchez18 commented on #585
I Am authentication well only with okta.aspnetcore, but in the moment I install okta.sdk i stops and start sending 401 responses. I mean, I make no changes on Client, only install the package from nuget to the server, that already has okta.aspnetcore installe and working with the client, and everything changes.

[2022-09-13 21:33] fabiansanchez18 commented on #585
I updated now to the latest version of okta.aspnetcore and I can't see anymore the problem. It is authenticating well now. Maybe wrong nuget cache package or something. I will implement now the functionalities from okta.sdk on my project to handle user profiles. Let's see if everything keeps well.
Thank you for listening.

[2022-09-14 12:30] bryanapellanes-okta commented on #585
I'm glad your problem is resolved.  Please feel free to open another issue if you need further assistance.  Thanks for using Okta!

[2022-09-14 12:30] #585 closed

[2022-09-18 23:35] aqib-bhat opened #587 "Not able to set Idp ID when creating routing rule"
### Describe the bug?

**What the goal was**
- Add a routing rule to the default IdP Discovery Policy which routes users with the given email domains to the Identity Provider we had created in Okta.

**The problem we ran into**
- When creating the object of type `IPolicyRuleActions` using the `IdpPolicyRuleActionProvider` constructor, setting the `Id` property gives the error: "A property without

[2022-09-19 13:30] bryanapellanes-okta commented on #587
@aqib-bhat Thanks for bringing this to our attention!  I've entered an internal issue for tracking; this will need to be prioritized against other work.

Internal Ref: OKTA-533711

[2022-10-03 02:49] aqib-bhat opened #589 "Deactivate IDP does not deactivate the routing rule pointing to the IDP unlike direct API call or the Okta UI"
### Describe the bug?

- Using Okta dotnet SDK and calling `OktaClientObject.IdentityProviders.DeactivateIdentityProviderAsync(someOktaIdpId, cancellationToken);` results in the IDP getting deactivated but a routing rule made for it remains Active.
- This is unlike what happens in the Okta UI and through direct calls to the Okta API.
  - On deactivating an Active IDP, its routing rule is also deac

[2022-10-03 14:41] bryanapellanes-okta commented on #589
@aqib-bhat Thanks for bringing this to our attention and I apologize for the inconvenience.  I've entered an internal issue to investigate further.  This will need to be prioritized against other work.

Internal Ref: OKTA-537890

[2022-10-03 14:46] laura-rodriguez commented on #589
Hi @aqib-bhat,

Thank you for reporting this issue. You mentioned that deactivating works when you hit the API directly. Would you mind sharing what that request looks like? Also, can you please share the requests the UI makes?

[2022-10-03 16:54] aqib-bhat commented on #589
Thank you @bryanapellanes-okta for the quick acknowledgement and assurance!

[2022-10-03 16:59] aqib-bhat commented on #589
@laura-rodriguez
Hitting the API directly, the request is:
- POST <our_Okta_org_url>/api/v1/idps/<Okta_IdP_Id>/lifecycle/deactivate
- Body: Empty
- Headers: Usual headers with Authorization containing the Okta API key, Accept: application/json, etc.

[2022-10-03 17:51] aqib-bhat commented on #589
@laura-rodriguez
On the UI, when I deactivate an IDP with a routing rule, in the Network tab of Chrome Developer Tools, I see a call:
![image](https://user-images.githubusercontent.com/14251134/193644255-78f57c17-3763-41cc-9766-af2cfca778a0.png)
and Request Payload:
![image](https://user-images.githubusercontent.com/14251134/193644787-b3b00fab-8805-4595-9627-b14380bd2ae5.png)

[2022-10-03 20:18] aqib-bhat commented on #589
@laura-rodriguez I had also suspected initially that this is likely an eventual consistency issue. However, the status of the rule did not change even after a few hours. As you suggested, I also just tested again:
- Using the SDK, our code created an IDP and a routing rule for it in the default IDP_DISCOVERY policy, and then deactivated the IDP.
- Then hitting the API directly, I fetched the rules

[2022-10-10 18:53] dillonkuester opened #591 "Multiple IOktaClients in Startup ConfigureServices for multi-tenancy/multiple domains"
### Describe the feature request?

We're looking to target multiple Okta domains in our microservice which utilizes the OktaSDK.

Here is what we are thinking so far, but to do this dynamically we will need to use each okta client individually?
Is it possible to instantiate multiple IOktaClients or is there documentation for this?

[code]
Would configuration 2 be similar?
https://developer.okta.co

[2022-10-10 20:47] bryanapellanes-okta commented on #591
@dillonkuester Thanks for reaching out!  It is possible to instantiate any number of OktaClients that you may need.  However, registering them each as singletons the way you describe will likely require additional code to resolve which instance you want.   Is it a limited list of known domains or potentially many domains somehow determined dynamically at runtime?

A couple approaches, without know

[2022-10-21 14:56] bryanapellanes-okta commented on #547
This should be resolved by the changes made here: https://github.com/okta/okta-management-openapi-spec/pull/133.

Please reopen if I am mistaken.

[2022-10-21 14:56] #547 closed

[2022-10-21 14:59] bryanapellanes-okta commented on #544
Closing due to inactivity.

[2022-10-21 14:59] #544 closed

[2022-10-24 15:42] #581 closed

[2022-10-26 20:33] manny21x opened #596 "Limiting the amount of users returned ListApplicationUsers"
### Describe the bug?

Ran to an issue where setting the limit in the ListApplicationUsers() did not do anything.

`var user = await oktaClient.Applications.ListApplicationUsers(appId, limit: 1).ToArrayAsync();`

When calling this method the limit is ignored and returns all users assigned to the appId.

### What is expected to happen?

Limit the user to the value that was set.

### What is the act

[2022-10-26 20:53] laura-rodriguez commented on #596
Hi @manny21x,

Thanks for reporting this issue.

Can you please confirm if this is an SDK or API issue? For example, if you make the same request via Postman, do you face the same issue?

[2022-10-26 22:08] manny21x commented on #596
Seems like this is an SDK issue. I tried it through postman and it works.

[2022-10-27 19:35] laura-rodriguez commented on #596
Thanks for your reply, @manny21x. Would you mind sharing the request the SDK ends up doing? A Fiddler log/HAR file would be really helpful for us to understand what's going on. Thank you!

[2022-10-27 20:20] manny21x commented on #596
Hi, I read the documentation again, it seems like I needed to do manual pagination

https://github.com/okta/okta-sdk-dotnet#manual-pagination

This fixed the issue and the limit parameter works now.

[2022-10-28 13:33] laura-rodriguez commented on #596
Awesome! Closing this issue since you found a fix. Thank you!

[2022-10-28 13:33] #596 closed

[2022-10-28 20:32] laura-rodriguez commented on #589
Hi @aqib-bhat,

I wasn't able to reproduce this issue. I also added an integration test to verify that routing rules are deactivated when an IDP is deactivated [here](https://github.com/okta/okta-sdk-dotnet/pull/598).

I confirmed with the API team that routing rules are deactivated ONLY if it's not being used by other IDPs. Please, let me know if you're still facing this issue, and I can redirect

[2022-11-04 13:35] koswedo opened #599 "GetApplicationUserWithHttpInfoAsync returns null with ErrorText"
### Describe the bug?

A new user is created and assigned to an application using the new version of the Okta.Sdk (v6.0.0).
When I tried to retrieve the application user using `GetApplicationUserWithHttpInfoAsync`, it returns null with ErrorText:

The user is valid and accessible.
This same user created with v6.0.0 causes no issue when I use the previous version of the Okta.Sdk (v5.6.2) to retriev

[2022-11-04 15:38] laura-rodriguez commented on #599
Hi @koswedo,

Thank you for reporting this! I'll file an internal ticket to be prioritized accordingly.

internal Ref: OKTA-548422

[2022-11-04 15:39] laura-rodriguez commented on #591
CLosing due to inactivity

[2022-11-04 15:39] #591 closed

[2022-11-07 12:14] herkusas opened #600 ""error":"invalid_client","error_description":"The audience claim for client_assertion must be the endpoint invoked for the request.""
### Describe the bug?

Hello, I'm trying to migrate from version 5.X.X to version 6.0.0 of OKTA SDK.

Version 5.X.X code:

         services.AddTransient<IOktaClient>(_ => new OktaClient(
            new OktaClientConfiguration
            {
                OktaDomain = options.BaseUri.AbsoluteUri,
                Scopes = new List<string> {"okta.groups.read", "okta.users.read"},
                C

[2022-11-07 21:07] pdubb29 opened #601 "Update from v5-v6 migration plan is lacking important information"
### Describe the bug?

Lacking information includes, but is not limited to
- Migration docs do not contain a definitive date when v5 is fully retired. It simply says "retiring"
- Classes and methods marked as obsolete in the previous nuget package version [5.6.2]
     * Consider releasing a minor version that marks these as obsolete
- Missing classes (Resource) that are not mentioned in the migrat

[2022-11-07 21:22] ddevoogt commented on #601
We need to know how to prioritize this. A timeline would be great!!

[2022-11-07 22:17] laura-rodriguez commented on #601
Hi @pdubb29 and @ddevoogt , Thank you so much for your feedback!

We'll review your suggestions and update our docs accordingly.

In the meantime, you might wanna check the API reference docs that provide additional information on the client usage [here](https://github.com/okta/okta-sdk-dotnet/blob/master/API_README.md). You can click on a specific API and get more details on the implementation; f

[2022-11-08 20:07] koswedo opened #602 "ListApplicationUsers not working"
### Describe the bug?

when calling ListApplicationUsers from ApiClient it fails with error

While debugging, I noticed that the path is set to `/api/v1/apps/{appId}/users`. `{appId}` does not seem to be replaced by the value.
If I copy the ApiClient into my project to replace `{appId}` by the actual value, the request is passing through.

### What is expected to happen?

To get a list of applicat

[2022-11-09 14:23] bryanapellanes-okta commented on #602
@koswedo Thank you for reporting this issue. I filed an internal ticket to be reviewed and prioritized by the team.

Internal Ref: OKTA-549675

[2022-11-14 20:44] laura-rodriguez commented on #599
Hi @koswedo,

Can you please provide more details on what settings you use when creating a new user? Apparently, the user you have doesn't have credentials. Is this assumption correct?

[2022-11-14 22:04] laura-rodriguez commented on #600
Hi @herkusas,

Thanks for reporting this issue. I'll file an internal ticket to be reviewed and prioritized by the team.

[2022-11-14 22:10] laura-rodriguez commented on #602
Hi @koswedo,

Can you please provide more details about your users and apps? We do have [a test that covers this particular scenario](https://github.com/okta/okta-sdk-dotnet/blob/master/src/Okta.Sdk.IntegrationTest/ApplicationScenarios.cs#L905), and it's working fine. There might be some variation in your use case that we need to know to reproduce this issue.

I wonder if this is related to #599?

[2022-11-15 21:43] koswedo commented on #602
@laura-rodriguez
Thank you for your answer.

To confirm that the issue is coming from your code and not mine (well, it can happen from time to time ;) ), I have copied your ApiClient.cs and changed lines [300](https://github.com/okta/okta-sdk-dotnet/blob/41ac3fde0b83b8eb0a708990cf843b119fa18dc5/src/Okta.Sdk/Client/ApiClient.cs#L300) to 306
from
[code]
to
[code]
and the error disappears and fall ba

[2022-11-15 21:57] koswedo commented on #599
Hi @laura-rodriguez,
I don't have a source code that I can show right now. I will prepare something as soon as I can.
What I can tell you is that I can use the user to login successfully.

Thanks for taking care of this.

[2022-11-15 22:05] laura-rodriguez commented on #599
No worries @koswedo! I was actually able to reproduce this by creating users without credentials. I do have a PR ready for review: https://github.com/okta/okta-sdk-dotnet/pull/603

[2022-11-16 20:18] cygnim opened #605 "Migration guide link is broken (404)"
### Describe the bug?

The link to the migration page for release 6.0.0 is broken on this page:
https://github.com/okta/okta-sdk-dotnet/releases/tag/v6.0.0

### What is expected to happen?

The link should work.

### What is the actual behavior?

404 not found error

### Reproduction Steps?

Click on the link on the page

### Additional Information?

_No response_

### .NET Version

N/A

### SDK V

[2022-11-16 20:39] laura-rodriguez commented on #605
Hi @cygnim,

Thanks for reporting this issue, we're gonna fix it soon.

[2022-11-16 20:53] laura-rodriguez commented on #605
Fixed

[2022-11-16 23:26] pdubb29 commented on #601
Any reason in particular why there were so many changes?

- Instead of keeping the exception behavior the same, you've now changed the class name and constructors, and underlying exception details.
- Why do we still not have a definitive retiring date for v5? Would this version of the library continue to function even though you wouldn't support it? Or is the underlying api change a requirement fo

[2022-11-17 13:59] koswedo commented on #602
Hi @laura-rodriguez,
I have finally found out what the issue is. The code is working fine but the documentation is misleading.
In the [readme.md](https://github.com/okta/okta-sdk-dotnet/blob/41ac3fde0b83b8eb0a708990cf843b119fa18dc5/README.md?plain=1#L442) file and in [Configuration.cs](https://github.com/okta/okta-sdk-dotnet/blob/41ac3fde0b83b8eb0a708990cf843b119fa18dc5/src/Okta.Sdk/Client/Configu

[2022-11-17 19:19] koswedo commented on #602
A suggestion for `ConnectionTimeout`: using a `TimeSpan` would avoid confusion in the future. Just a thought.

[2022-11-17 19:24] laura-rodriguez commented on #602
Hi @koswedo,

Thanks for looking into it.  I'll take care of this.

[2022-11-17 20:29] laura-rodriguez commented on #601
Hi @pdubb29,

We acknowledge that migrating from v5 to v6 will require considerable effort, but we expect this change to benefit our customers in the long term.

In previous versions, we used an OpenAPI v2 specification with many custom attributes and vendor extensions that required us to implement a custom client generator that should work for all the languages we support. Our process to release

[2022-11-18 16:30] #599 closed

[2022-11-18 17:01] laura-rodriguez commented on #600
Fixed in v6.0.1

[2022-11-18 17:01] #600 closed